.AssetGrid__container {
  width: calc(100% - 100px);
  height: 100%;
  background-color: #eee;
}

.AssetGrid__assetRow {
  display: flex;
  padding-top: 3px;
}

.AssetGrid__assetRow:last-child {
  padding-bottom: 3px;
}

.AssetGrid__assetContainer {
  padding-right: 3px;
  flex-shrink: 0;
  flex-grow: 1;
}

.AssetGrid__assetContainer:last-child {
  padding-right: 0;
}
