.AssetGrid__container {
  /* SIDEBAR_WIDTH */
  width: calc(100% - 100px);
  height: 100%;
}

.AssetGrid__scrollerContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.AssetGrid__scrollerContainer > div {
  /* PADDING_BESIDES_GRID */
  width: calc(100% - 100px);
  margin-right: 50px;
}

.AssetGrid__assetRow {
  display: flex;
  padding-top: 3px;
}

.AssetGrid__assetRow:last-child {
  padding-bottom: 3px;
}

.AssetGrid__assetContainer {
  padding-right: 3px;
  flex-grow: 1;
  flex-shrink: 0;
}

.AssetGrid__assetContainer:last-child {
  padding-right: 0;
}
