.asset_video_preview {
  position: relative;
  width: auto;
  height: 100%;
}

.asset__imagePlaceholder {
  color: #cdcdcd;
}

.asset_video_preview .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.4;
  background-color: black;
}

.asset_video_preview .playAction {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -14px;
  margin-top: -16px;
  cursor: pointer;
  color: #ffffff;
  font-size: 32px;
}
