.FullScreenPreivew__container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.FullScreenPreivew__asset {
  max-height: calc(100% - 60px);
    max-width: 100%;
}

.FullScreenPreivew__header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 60px;
  width: 100%;
  padding: 0 40px;
}

.FullScreenPreivew__closeIcon {
  color: white;
  cursor: pointer;
}

.FullScreenPreivew__closeIcon:hover {
  color: #039BE5;
}
