.FullScreenPreivew__container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: black;
  display: flex;
  flex-direction: column;
}

.FullScreenPreivew__body {
  position: relative;
  height: calc(100% - 60px);
  width: 100%;
  display: flex;
  justify-content: center;
}

.FullScreenPreivew__asset {
  max-height: 100%;
  max-width: 100%;
}

.FullScreenPreivew__header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 60px;
  width: 100%;
  padding: 0 40px;
}

.FullScreenPreivew__navIcon {
  color: white;
  cursor: pointer;
}

.FullScreenPreivew__controlIcon {
  opacity: 0.5;
}

.FullScreenPreivew__navIcon:hover {
  color: #039BE5;
}

.FullScreenPreivew__control-section {
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
}

.FullScreenPreivew__control-section-left {
  left: 0;
}

.FullScreenPreivew__control-section-right {
  right: 0;
}

.FullScreenPreivew__control {
  position: absolute;
  top: 50%;
  display: none;
}

.FullScreenPreivew__control-section:hover > .FullScreenPreivew__control {
  display: block;
}

.FullScreenPreivew__control-left {
  left: 10px;
}

.FullScreenPreivew__control-right {
  right: 10px;
}
